# FLASK
DEBUG=True
CSRF_SECRET_KEY=<your-secret-key>
SQLALCHEMY_DATABASE_URI=sqlite:///movies-collection.db
SQLALCHEMY_TRACK_MODIFICATIONS=False


# themoviedb API
AUTH_TOKEN=<your-auth_token>
BASE_URL=https://api.themoviedb.org/3/
IMAGE_URL=https://image.tmdb.org/t/p/w500