APY_KEY=<your-api-key>
BASE_URL=https://api.openweathermap.org/data/2.5/onecall

TWILIO_ACCOUNT_SID=<your-twilio-account-sid>
TWILIO_AUTH_TOKEN=<your-twilio-auth-token>
TWILIO_SEND_NUMBER=<your-twilio-send-number>
TWILIO_TO_NUMBER=<your-twilio-to-number>

LAT=<your-latitude>
LON=<your-longitude>