{% extends 'index.html' %}

{% block title %}Restaurants{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>All Cafes</h1>

	  <table class="table">
          <thead>
              <tr>
                  {% for columns in cafes[0] %}
                    <th scope="col">{{columns}}</th>
                  {% endfor %}
              </tr>
          </thead>
          <tbody>
              {% for cafe in cafes[1:] %}
                <tr>
                    {% for data_info in cafe %}
                        {% if 'http' in data_info %}
                            <td><a href="{{data_info}}" target="_blank" rel="noopener noreferrer">Maps Link</a></td>
                        {% else %}
                         <td>{{data_info}}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
              {% endfor %}
          </tbody>

  	  </table>

      <p><a href="{{url_for('home')}}">Return to index page</a></p>

    </div>
  </div>
</div>

{% endblock %}
