ALPHAVANTAGE_API_KEY=<your-alphavantage_api_key>
ALPHAVANTAGE_BASE_URL=https://www.alphavantage.co/query

NEWSAPI_API_KEY=<your-newsapi_api_key>
NEWSAPI_BASE_URL=https://newsapi.org/v2/everything

TWILIO_ACCOUNT_SID=<your-twilio-account-sid>
TWILIO_AUTH_TOKEN=<your-twilio-auth-token>
TWILIO_SEND_NUMBER=<your-twilio-send-number>
TWILIO_TO_NUMBER=<your-twilio-to-number>

