AMAZON_BASE_URL=<product-url>
EXPECT_PRICE=<your-expect-price>

# Email Config
EMAIL_HOST=smtp.mailtrap.io
EMAIL_HOST_USER=<YOUR_USER>
EMAIL_HOST_PASSWORD=<YOUR_PASSWORD>
EMAIL_PORT=2525
EMAIl_RECEIVER=<from@example.com>
EMAIl_SENDER=<from@example.com>
