{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('../static/assets/img/contact-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Contact Me</h1>
                            <span class="subheading">Have questions? I have answers.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
               <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        {% if message %}
                            <div class="alert alert-success" role="alert">
                              Your message success sent.
                            </div>
                        {% endif %}
                        <p>Want to get in touch? Fill out the form below to send me a message and I will get back to you as soon as possible!</p>
                        <div class="my-5">
                            <form id="contactForm" action="{{ url_for('contact') }}" method="post">
                                {{ form.csrf_token }}
                                <p>{{ form.name.label }}: <br>{{ form.name(size=20) }}</p>
                                {% if form.name.errors %}
                                    <ul class="errors">
                                    {% for error in form.name.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                                <p>{{ form.email.label }}: <br>{{ form.email }}</p>
                                {% if form.email.errors %}
                                    <ul class="errors">
                                    {% for error in form.email.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                                <p>{{ form.phone.label }}: <br>{{ form.phone }}</p>
                                {% if form.phone.errors %}
                                    <ul class="errors">
                                    {% for error in form.phone.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                                {{ form.message.label }}:<br> {{ form.message }}
                                {% if form.message.errors %}
                                    <ul class="errors">
                                    {% for error in form.message.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                                <br>
                                <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Send</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
{% endblock content %}