{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('../static/assets/img/contact-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Contact Me</h1>
                            <span class="subheading">Have questions? I have answers.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
               <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        {% if message == "Success"%}
                        <h1>Message: {{message}}</h1>
                            <div class="alert alert-success" role="alert">
                              Your message success sent.
                            </div>
                        {% endif %}
                        <p>Want to get in touch? Fill out the form below to send me a message and I will get back to you as soon as possible!</p>
                        <div class="my-5">
                           <form class="form form-horizontal" method="post" role="form">
                              {{ form.hidden_tag() }}
                              {{ wtf.form_errors(form, hiddens="only") }}

                              {{ wtf.form_field(form.name) }}
                              {{ wtf.form_field(form.email) }}
                              {{ wtf.form_field(form.phone) }}
                              {{ wtf.form_field(form.message) }}
                               <br>
                                <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Send</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
{% endblock content %}