{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/edit-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">

            {% if '/new-post' == request.path %}
            <h1>New Post</h1>
            {% else %}
            <h1>Edit Post</h1>
            {% endif %}

            <span class="subheading">You're going to make a great blog post!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        <form class="form form-horizontal" method="post" role="form">
          {{ form.hidden_tag() }}
          {{ wtf.form_errors(form, hiddens="only") }}

          {{ wtf.form_field(form.title) }}
          {{ wtf.form_field(form.subtitle) }}
          {{ wtf.form_field(form.img_url) }}
          {{ wtf.form_field(form.body) }}
          {{ wtf.form_field(form.submit, button_map={"submit": "success"}) }} <a class="btn btn-info" href="{{url_for('get_all_posts')}}">Back</a>

        </form>

        {{ ckeditor.load() }}
        {{ ckeditor.config(name='body') }}

      </div>
    </div>
  </div>

{% include "footer.html" %}
{% endblock %}