/* -------------------- Tag --------------------  */
h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 3 rem;
  font-weight: 900;
  line-height: 1.5;
}
/* -------------------- Class --------------------  */
.container-fluid{
  padding: 3% 15%;
}
.img-rotate{
  transform: rotate(30deg);
}

/* -------------------- ID --------------------  */

#title {
  background-color: #ff4c68;
}

font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif;
