/* -------------------- Tag --------------------  */
body{
  font-family: 'Montserrat', sans-serif;
}
h1{
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.5;
}
h2{
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}
/* -------------------- Class --------------------  */
.container-fluid{
  padding: 7% 15% 7%;
}
 /* Download Buttons */
.btn-download{
  margin: 5% 3% 5% 0;
}
/* Navigation Bar */
.navbar{
  padding: 0 15% 0;
}
.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
}
.nav-link{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
}
.nav-item{
  padding: 0 18px;
}

/* Title Image */
.img-rotate{
  width: 60%;
  transform: rotate(30deg);
  position: absolute;
}
 /* Title Features */
.title-features{
  font-weight: 700;
  font-size: 1.5rem;
}
.description-features{
  color: #8f8f8f;
}
.fa-features{
  width: 100%;
  color:  #ef8172;
  font-size: 3.5rem;
}
.fa-features:hover{
  color: #ff4c68;
}
/* Testimonials */
.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.carousel-item{
    padding: 7% 15%;
}
/* Press */
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}
/* -------------------- ID --------------------  */

#features{
    padding: 7% 15%;
    text-align: center;
    background-color: white;
    position: relative;
    z-index: 1;
}
#title{
  background-color: #ff4c68;
  color: white;
}
#testimonials{
  background-color: #ef8172;
  color: white;
  text-align: center;
}
#press{
  background-color: #ef8172;
  text-align: center;
}
#pricing{
  padding: 0 15% 0;
}
